
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: black;
}

header {
	background-color: #fdf9f9;
	padding: 10px 20px;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul li {
	margin-right: 20px;
	color: #fff;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a.active {
	color: #ff9f1a;
}

nav ul li input[type="text"] {
	padding: 5px;
	border-radius: 5px;
	border: none;
}

nav ul li button {
	padding: 5px 10px;
	background-color: #ff9f1a;
	color: #fff;
	border: none;
	border-radius: 5
}
.anime{
	background-color: blue;
	margin-bottom: 20px;
	padding: 20px;
	
}
.featured{
	background-color: #1f1f1f;
}

a{
	color: white;
	text-decoration: none;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
}

.featured{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.featured div{
	margin-left: 200px;
}



.footer{
	text-align: center;
	background-color: black;
	color: white;
	height: 30px;
}

h1,p{
	text-align: center;
	color: white;
}

h2{
	color: aqua;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #58d614;
	border: 1px solid #000000;
	border-top: none;
	min-width: 100%;
	z-index: 1;
	display: none;
	
  }
  
  .dropdown-menu li {
	display: block;
	height: 50px;
	width: 100PX;
	
  }
  
  .dropdown:hover .dropdown-menu {
	display: block;
	margin-left: 25px;


  }
  .popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
  }
  
  .popup-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	max-width: 500px;
	text-align: center;
  }
  
  .popup-content h2 {
	margin-top: 0;
  }
  
  .popup-content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .popup-content li {
	margin: 10px 0;
  }
  
  .popup-content a {
	display: inline-block;
	background-color: #333;
	color: white;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
  }
  
  .popup-content a:hover {
	background-color: #555;
  }
  
  .close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #070707;
	text-decoration: none;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	cursor: pointer;
  }