* {
  padding: 0px;
  margin: 0px;
}

nav {
  background-color: rgb(178, 20, 213);
  
}

nav ul {
  list-style: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: larger;
}

nav ul li {
  display: inline-block;
  margin-right: 68px;
  height: 50px;
  padding-top: 10pxs;
}


nav ul li a {
  color: #fff;
  display: block;
  padding: 5px;
  padding-top: 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #08d81a;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #04d2b6;
  padding: 0;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
  margin: 0;
  padding: 0;
}

nav ul li ul li a {
  padding: 10px;
  color: #fff;
  display: block;
  text-decoration: none;
}

nav ul li ul li a:hover {
  background-color: #777;
}

img{
  width: 100%;
  object-position: center;
  object-fit: cover;
}
ul{
  margin-bottom:0px ;
}